body {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  font-family: "Source Code Pro", monospace;
  color: white;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 50px;
  border: 1px solid;
}

.temp {
  padding: 80px 50px;
  font-size: 13px;
  position: relative;
  top: 35px;
  text-align: right;
}

.mainpic {
  display: block;
  margin: 0 auto;
  padding: 20px 0 50px 0;
  line-height: 10;
}

.city {
  padding: 50px 10px;
  text-align: center;
}

.next {
  padding: 30px;
}

.citysearch {
  box-shadow: 5px 5px 5px rgba(12, 11, 11, 0.5);
}

.button {
  position: relative;
  top: 0px;
  right: 20px;
}

.col-3 {
  position: relative;
  top: 110px;
}

h1 {
  font-size: 60px;
  position: relative;
  top: 10px;
}

#location {
  font-size: 20px;
  position: relative;
  top: 7px;
  left: 10px;
}

h6 {
  position: relative;
  left: 80px;
  top: -50px;
}

.col-5 {
  position: relative;
  top: 50px;
  right: -20px;
  text-align: right;
  font-size: 10px;
}

#date {
  position: relative;
  left: 10px;
  top: 10px;
}

#current {
  position: relative;
  left: 430px;
  top: -30px;
}

h5 {
  position: relative;
  left: 80px;
  top: -60px;
}
